<a href="https://colab.research.google.com/github/abhijitchak103/iNeuron/blob/Ungraded-Assignments/FSDS_bootcamp_assignment_005_Oct_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Friday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

# List, Tuple and Sets

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

In [ ]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
item_dict = dict()

for ele in amazon_website:
    item_dict[ele[0]] = ele[1]

n = int(input("How many items do you want? "))

total_cost = 0
for i in range(n):
    item = input("Enter the item name you want: ")
    if item in item_dict.keys():
        total_cost += item_dict[item]
    else:
        print(f"{item} is currently out of stock.")

print("---------------------------------------")
print(f"Your total amount payable is: {total_cost}")

How many items do you want? 2
Enter the item name you want: jeans
jeans is currently out of stock.
Enter the item name you want: phone
---------------------------------------
Your total amount payable is: 10000

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

In [ ]:
# 2 3 4 5 6 6

# in the first for loop, all values get replaced by the next value in the list
# except the last value.

# in the second for loop, the numbers are sequentially printed separated by spaces.

#### 3. Write a Python program to find the repeated items of a tuple.

In [4]:
t = (1,3,4,4,7,7,2,8,8,8)

uniq_t = list()
rep_t = set()

for char in t:
    if char not in uniq_t:
        uniq_t.append(char)
    else:
        rep_t.add(char)

print(f"The repeated items of given tuple are: {rep_t}")

The repeated items of given tuple are: {8, 4, 7}

#### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

In [16]:
a = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
a = [(ele[0], ele[1], 500) for ele in a]

a

[(10, 20, 500), (40, 50, 500), (70, 80, 500)]