<a href="https://colab.research.google.com/github/abhijitchak103/iNeuron/blob/Ungraded-Assignments/FSDS_bootcamp_assignment_004_Oct_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]

a = numbers[0]

for i in range(len(numbers)):
  b = numbers[i]
  if b >= a:
    a = b

print(f"The largest number is the given list is: {a}")

The largest number is the given list is: 525

Q2. Print all the even number between (1, 12).

In [ ]:
print("The even numbers between 1 and 12 are: ")
for i in range(1, 12):
  if i % 2 == 0:
    print(i)

The even numbers between 1 and 12 are:
2
4
6
8
10

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [ ]:
num = int(input("Enter number "))

print("")
sum = 0
for i in range(num + 1):
  sum += i
print(f"Sum is: {sum}")

Enter number 10

Sum is: 55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [2]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

for num in numbers:
    if num%5 == 0:
        if num > 500:
            break
        if num > 150:
            continue
        print(num)

75
150
145

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [ ]:
list1 = [10, 20, 30, 40, 50]

i = len(list1)
list1_reverse = []

while i > 0:
  list1_reverse.append(list1[i-1])
  i -= 1

print(f"The reverse of the given list is: {list1_reverse}")

The reverse of the given list is: [50, 40, 30, 20, 10]